<section id="home" class="bg-light py-5">
  <div class="container">
    <h1 class="display-4 text-center mb-4">Welcome to Our Recipe Blog</h1>
    <p class="lead text-center mb-5">
      We love to share our favorite recipes with you! Here you can find a variety of delicious dishes, from quick and easy weeknight meals to impressive dishes for special occasions.
    </p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGTbUW1eFyFSP_m45F_wXjLSQfr1RE-IvSOg&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quick and Easy Meals</h5>
            <p class="card-text">
              Discover a collection of recipes that are perfect for busy weeknights. These dishes are easy to make and ready in just a few steps!
            </p>
            <a href="user/login" class="btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYEVN3_6xvQUNPk-L0ezLr1Hov7v99p7khMw&usqp=CAU" class="card-img-top class="img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special Occasion Dishes</h5>
            <p class="card-text">
              Impress your guests with our collection of recipes for special occasions. These dishes are perfect for holidays, dinner parties, and other special events.
            </p>
            <a href="user/login" class="btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGTbUW1eFyFSP_m45F_wXjLSQfr1RE-IvSOg&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Seasonal Recipes</h5>
            <p class="card-text">
              Enjoy the best flavors of the season with our collection of seasonal recipes. From summer salads to hearty winter stews, we have something for every season.
            </p>
            <a href="user/login"class="btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
